body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    border: 4px solid blanchedalmond;
    border-radius: 4px;
    margin-top: 10vh;
    width: 230px;
    height: 230px;
    display: flex;
    flex-wrap: wrap;
}

.over {
    background-color: blue !important;
}